<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Todo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css'>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>

    <div id="app">
        <div class="container">
            <div class="todo vh-100 d-flex">
                <div class="my-card">
                    <h3 class="title">Add new task</h3>
                    <div class="commands d-flex align-items-centers">
                        <input type="text" class="mr-2" placeholder="at least 5 characters" v-model="newTask.text" @keyup.enter="addTask">
                        <button class="button" @click="addTask">Add task</button>
                    </div>
                    <small class="error text-danger mt-1" v-if="error">Please insert at least 5 characters</small>
                    <div class="tasks pt-5">
                        <h4 class="title">To do list</h4>
                        <ul>
                            <li class="task mb-2 d-flex" v-for="(task, i) in tasks" @click="taskDone(i)">
                                <i class="fa fa-circle" aria-hidden="true"></i>
                                <p class="text-decoration-line-through" v-if="tasks[i].done">{{tasks[i].text}}</p>
                                <p v-else>{{tasks[i].text}}</p>
                                <i class="fa fa-check-circle" v-if="tasks[i].done"></i>
                                <i class="fa-solid fa-circle-xmark" v-else></i>
                                <button class="btn btn-danger" v-if="tasks[i].done" @click.stop="removeTask(i)"><i class="fa fa-xmark"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.41/dist/vue.global.min.js"></script>
    <script src="./assets/js/app.js"></script>
</body>

</html>